{% extends 'bootstrap/base.html' %}

{% block scripts %}
    {{ super() }}

    <script>
        var att_mahact_flagship_hide = document.getElementById("att_mahact_flagship_hide_row");
        var def_mahact_flagship_hide = document.getElementById("def_mahact_flagship_hide_row");
        var att_naalu_mech_hide = document.getElementById("att_naalu_mech_hide_row");
        var def_naalu_mech_hide = document.getElementById("def_naalu_mech_hide_row");
        var att_nekro_mech_hide = document.getElementById("att_nekro_mech_hide_row");
        var def_nekro_mech_hide = document.getElementById("def_nekro_mech_hide_row");
        var att_mentak_hero_hide = document.getElementById("att_mentak_hero_hide_row");
        var def_mentak_hero_hide = document.getElementById("def_mentak_hero_hide_row");
        var att_creuss_dimensionalsplicer_hide = document.getElementById("att_creuss_dimensionalsplicer_nekro_hide_row");
        var def_creuss_dimensionalsplicer_hide = document.getElementById("def_creuss_dimensionalsplicer_nekro_hide_row");
        var att_letnev_l4_hide = document.getElementById("att_letnev_l4_nekro_hide_row");
        var def_letnev_l4_hide = document.getElementById("def_letnev_l4_nekro_hide_row");
        var att_letnev_noneuclid_hide = document.getElementById("att_letnev_noneuclid_nekro_hide_row");
        var def_letnev_noneuclid_hide = document.getElementById("def_letnev_noneuclid_nekro_hide_row");
        var att_naazrokha_supercharge_hide = document.getElementById("att_naazrokha_supercharge_nekro_hide_row");
        var def_naazrokha_supercharge_hide = document.getElementById("def_naazrokha_supercharge_nekro_hide_row");
        var att_sardakk_valkyrie_hide = document.getElementById("att_sardakk_valkyrie_nekro_hide_row");
        var def_sardakk_valkyrie_hide = document.getElementById("def_sardakk_valkyrie_nekro_hide_row");

        function att_faction_options(){
            if (this.value == "Creuss" || this.value == "Nekro") {
                att_creuss_dimensionalsplicer_hide.style.display = 'block';
            } else {
                att_creuss_dimensionalsplicer_hide.style.display = 'none';
            }

            if (this.value == "Letnev" || this.value == "Nekro") {
                att_letnev_l4_hide.style.display = 'block';
                att_letnev_noneuclid_hide.style.display = 'block';
            } else {
                att_letnev_l4_hide.style.display = 'none';
                att_letnev_noneuclid_hide.style.display = 'none';
            }

            if (this.value == "Mahact") {
                att_mahact_flagship_hide.style.display = 'block';
            } else {
                att_mahact_flagship_hide.style.display = 'none';
            }

            if (this.value == "Mentak") {
                att_mentak_hero_hide.style.display = 'block';
            } else {
                att_mentak_hero_hide.style.display = 'none';
            }

            if (this.value == "Naalu") {
                att_naalu_mech_hide.style.display = 'block';
            } else {
                att_naalu_mech_hide.style.display = 'none';
            }

            if (this.value == "Naaz-Rokha" || this.value == "Nekro") {
                att_naazrokha_supercharge_hide.style.display = 'block';
            } else {
                att_naazrokha_supercharge_hide.style.display = 'none';
            }

            if (this.value == "Nekro") {
                att_nekro_mech_hide.style.display = 'block';
            } else {
                att_nekro_mech_hide.style.display = 'none';
            }

            if (this.value == "Sardakk" || this.value == "Nekro") {
                att_sardakk_valkyrie_hide.style.display = 'block';
            } else {
                att_sardakk_valkyrie_hide.style.display = 'none';
            }
        }

        function def_faction_options(){
            if (this.value == "Creuss" || this.value == "Nekro") {
                def_creuss_dimensionalsplicer_hide.style.display = 'block';
            } else {
                def_creuss_dimensionalsplicer_hide.style.display = 'none';
            }

            if (this.value == "Letnev" || this.value == "Nekro") {
                def_letnev_noneuclid_hide.style.display = 'block';
            } else {
                def_letnev_noneuclid_hide.style.display = 'none';
            }

            if (this.value == "Mahact") {
                def_mahact_flagship_hide.style.display = 'block';
            } else {
                def_mahact_flagship_hide.style.display = 'none';
            }

            if (this.value == "Mentak") {
                def_mentak_hero_hide.style.display = 'block';
            } else {
                def_mentak_hero_hide.style.display = 'none';
            }

            if (this.value == "Naalu") {
                def_naalu_mech_hide.style.display = 'block';
            } else {
                def_naalu_mech_hide.style.display = 'none';
            }

            if (this.value == "Naaz-Rokha" || this.value == "Nekro") {
                def_naazrokha_supercharge_hide.style.display = 'block';
            } else {
                def_naazrokha_supercharge_hide.style.display = 'none';
            }

            if (this.value == "Nekro") {
                def_nekro_mech_hide.style.display = 'block';
            } else {
                def_nekro_mech_hide.style.display = 'none';
            }

            if (this.value == "Sardakk" || this.value == "Nekro") {
                def_sardakk_valkyrie_hide.style.display = 'block';
            } else {
                def_sardakk_valkyrie_hide.style.display = 'none';
            }
        }

        document.getElementById("att_faction").onchange = att_faction_options;
        document.getElementById("def_faction").onchange = def_faction_options;
    </script>

    <!-- plus/minus button script -->
<!--    <script>-->
<!--        $('.btn-number').click(function(e){-->
<!--            e.preventDefault();-->

<!--            fieldName = $(this).attr('data-field');-->
<!--            type      = $(this).attr('data-type');-->
<!--            var input = $("input[name='"+fieldName+"']");-->
<!--            var currentVal = parseInt(input.val());-->
<!--            if (!isNaN(currentVal)) {-->
<!--                if(type == 'minus') {-->

<!--                    if(currentVal > input.attr('min')) {-->
<!--                        input.val(currentVal - 1).change();-->
<!--                    }-->
<!--                    if(parseInt(input.val()) == input.attr('min')) {-->
<!--                        $(this).attr('disabled', true);-->
<!--                    }-->

<!--                } else if(type == 'plus') {-->

<!--                    if(currentVal < input.attr('max')) {-->
<!--                        input.val(currentVal + 1).change();-->
<!--                    }-->
<!--                    if(parseInt(input.val()) == input.attr('max')) {-->
<!--                        $(this).attr('disabled', true);-->
<!--                    }-->

<!--                }-->
<!--            } else {-->
<!--                input.val(0);-->
<!--            }-->
<!--        });-->
<!--        $('.input-number').focusin(function(){-->
<!--           $(this).data('oldValue', $(this).val());-->
<!--        });-->
<!--        $('.input-number').change(function() {-->

<!--            minValue =  parseInt($(this).attr('min'));-->
<!--            maxValue =  parseInt($(this).attr('max'));-->
<!--            valueCurrent = parseInt($(this).val());-->

<!--            name = $(this).attr('name');-->
<!--            if(valueCurrent >= minValue) {-->
<!--                $(".btn-number[data-type='minus'][data-field='"+name+"']").removeAttr('disabled')-->
<!--            } else {-->
<!--                alert('Sorry, the minimum value was reached');-->
<!--                $(this).val($(this).data('oldValue'));-->
<!--            }-->
<!--            if(valueCurrent <= maxValue) {-->
<!--                $(".btn-number[data-type='plus'][data-field='"+name+"']").removeAttr('disabled')-->
<!--            } else {-->
<!--                alert('Sorry, the maximum value was reached');-->
<!--                $(this).val($(this).data('oldValue'));-->
<!--            }-->


<!--        });-->
<!--        $(".input-number").keydown(function (e) {-->
<!--                // Allow: backspace, delete, tab, escape, enter and .-->
<!--                if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 190]) !== -1 ||-->
<!--                     // Allow: Ctrl+A-->
<!--                    (e.keyCode == 65 && e.ctrlKey === true) ||-->
<!--                     // Allow: home, end, left, right-->
<!--                    (e.keyCode >= 35 && e.keyCode <= 39)) {-->
<!--                         // let it happen, don't do anything-->
<!--                         return;-->
<!--                }-->
<!--                // Ensure that it is a number and stop the keypress-->
<!--                if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {-->
<!--                    e.preventDefault();-->
<!--                }-->
<!--            });-->
<!--    </script>-->

    {% block app_scripts %}{% endblock %}
{% endblock %}

{% block title %}
    Twilight Imperium 4 Calculator
{% endblock %}

{% block content %}
    {% block app_content %}{% endblock %}
{% endblock %}