{% extends 'base.html' %}

{% block app_content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4 col-sm-offset-4">
            <form action="" method="post" novalidate>
                {{ form.hidden_tag() }}
                <div class="o-grid o-grid--no-gutter center-grid row">
                    <div class="col-sm-4" align="center">
                        <b>Attacker</b>
                    </div>
                    <div class="col-sm-4" align="center">
                    </div>
                    <div class="col-sm-4" align="center">
                        <b>Defender</b>
                    </div>
                </div>

                <div class="o-grid o-grid--no-gutter center-grid row">
                    <div class="col-sm-4" align="center">
                        {{ form.att_faction()}}
                    </div>
                    <div class="col-sm-4" align="center">
                    </div>
                    <div class="col-sm-4" align="center">
                        {{ form.def_faction()}}
                    </div>
                </div>

                <div class="o-grid o-grid--no-gutter center-grid row">
                    <div class="col-sm-4" align="right">
                        <input id="att_flagship2" name="att_flagship2" type="checkbox">
                        <input id="att_flagship" name="att_flagship" type="text"
                               value="{{ defaults['att_flagship'].data }}" size="1">
                    </div>
                    <div class="col-sm-4" align="center">
                        Flagship
                    </div>
                    <div class="col-sm-4">
                        <input id="def_flagship" name="def_flagship" type="text"
                               value="{{ defaults['def_flagship'].data }}" size="1">
                        <input id="def_flagship2" name="def_flagship2" type="checkbox">
                    </div>
                </div>

                <div class="o-grid o-grid--no-gutter center-grid row">
                    <div class="col-sm-4" align="right">
                        <input id="att_warsun" name="att_warsun" type="text"
                               value="{{ defaults['att_warsun'].data }}" size="1">
                    </div>
                    <div class="col-sm-4" align="center">
                        War Sun
                    </div>
                    <div class="col-sm-4">
                        <input id="def_warsun" name="def_warsun" type="text"
                               value="{{ defaults['def_warsun'].data }}" size="1">
                    </div>
                </div>

                <div class="o-grid o-grid--no-gutter center-grid row">
                    <div class="col-sm-4" align="right">
                        <input id="att_dread2" name="att_dread2" type="checkbox">
                        <input id="att_dread" name="att_dread" type="text"
                               value="{{ defaults['att_dread'].data }}" size="1">
                    </div>
                    <div class="col-sm-4" align="center">
                        Dreadnought
                    </div>
                    <div class="col-sm-4">
                        <input id="def_dread" name="def_dread" type="text"
                               value="{{ defaults['def_dread'].data }}" size="1">
                        <input id="def_dread2" name="def_dread2" type="checkbox">
                    </div>
                </div>

                <div class="o-grid o-grid--no-gutter center-grid row">
                    <div class="col-sm-4" align="right">
                        <input id="att_cruiser2" name="att_cruiser2" type="checkbox">
                        <input id="att_cruiser" name="att_cruiser" type="text"
                               value="{{ defaults['att_cruiser'].data }}" size="1">
                    </div>
                    <div class="col-sm-4" align="center">
                        Cruiser
                    </div>
                    <div class="col-sm-4">
                        <input id="def_cruiser" name="def_cruiser" type="text"
                               value="{{ defaults['def_cruiser'].data }}" size="1">
                        <input id="def_cruiser2" name="def_cruiser2" type="checkbox">
                    </div>
                </div>

                <div class="o-grid o-grid--no-gutter center-grid row">
                    <div class="col-sm-4" align="right">
                        <input id="att_carrier2" name="att_carrier2" type="checkbox">
                        <input id="att_carrier" name="att_carrier" type="text"
                               value="{{ defaults['att_carrier'].data }}" size="1">
                    </div>
                    <div class="col-sm-4" align="center">
                        Carrier
                    </div>
                    <div class="col-sm-4">
                        <input id="def_carrier" name="def_carrier" type="text"
                               value="{{ defaults['def_carrier'].data }}" size="1">
                        <input id="def_carrier2" name="def_carrier2" type="checkbox">
                    </div>
                </div>

                <div class="o-grid o-grid--no-gutter center-grid row">
                    <div class="col-sm-4" align="right">
                        <input id="att_destroyer2" name="att_destroyer2" type="checkbox">
                        <input id="att_destroyer" name="att_destroyer" type="text"
                               value="{{ defaults['att_destroyer'].data }}" size="1">
                    </div>
                    <div class="col-sm-4" align="center">
                        Destroyer
                    </div>
                    <div class="col-sm-4">
                        <input id="def_destroyer" name="def_destroyer" type="text"
                               value="{{ defaults['def_destroyer'].data }}" size="1">
                        <input id="def_destroyer2" name="def_destroyer2" type="checkbox">
                    </div>
                </div>

                <div class="o-grid o-grid--no-gutter center-grid row">
                    <div class="col-sm-4" align="right">
                        <input id="att_fighter2" name="att_fighter2" type="checkbox">
                        <input id="att_fighter" name="att_fighter" type="text"
                               value="{{ defaults['att_fighter'].data }}" size="1">
                    </div>
                    <div class="col-sm-4" align="center">
                        Fighter
                    </div>
                    <div class="col-sm-4">
                        <input id="def_fighter" name="def_fighter" type="text"
                               value="{{ defaults['def_fighter'].data }}" size="1">
                        <input id="def_fighter2" name="def_fighter2" type="checkbox">
                    </div>
                </div>

                <div class="o-grid o-grid--no-gutter center-grid row">
                    <div class="col-sm-4" align="right">
                        <input id="att_mech" name="att_mech" type="text"
                               value="{{ defaults['att_mech'].data }}" size="1">
                    </div>
                    <div class="col-sm-4" align="center">
                        Mech
                    </div>
                    <div class="col-sm-4">
                        <input id="def_mech" name="def_mech" type="text"
                               value="{{ defaults['def_mech'].data }}" size="1">
                    </div>
                </div>

                <div class="o-grid o-grid--no-gutter center-grid row">
                    <div class="col-sm-4" align="right">
                        <input id="att_infantry2" name="att_infantry2" type="checkbox">
                        <input id="att_infantry" name="att_infantry" type="text"
                               value="{{ defaults['att_infantry'].data }}" size="1">
                    </div>
                    <div class="col-sm-4" align="center">
                        Infantry
                    </div>
                    <div class="col-sm-4">
                        <input id="def_infantry" name="def_infantry" type="text"
                               value="{{ defaults['def_infantry'].data }}" size="1">
                        <input id="def_infantry2" name="def_infantry2" type="checkbox">
                    </div>
                </div>

                <div class="o-grid o-grid--no-gutter center-grid row">
                    <div class="col-sm-4" align="right">
                        <input id="att_pds2" name="att_pds2" type="checkbox">
                        <input id="att_pds" name="att_pds" type="text"
                               value="{{ defaults['att_pds'].data }}" size="1">
                    </div>
                    <div class="col-sm-4" align="center">
                        PDS
                    </div>
                    <div class="col-sm-4">
                        <input id="def_pds" name="def_pds" type="text"
                               value="{{ defaults['def_pds'].data }}" size="1">
                        <input id="def_pds2" name="def_pds2" type="checkbox">
                    </div>
                </div>

                <div class="o-grid o-grid--no-gutter center-grid row">
                    <div class="col-sm-4"></div>
                    <div class="col-sm-4" align="center">
                        <input id="ground_combat" name="ground_combat" type="checkbox"
                               {{ checkboxes["ground_combat"] }}>
                        Ground combat
                    </div>
                    <div class="col-sm-4"></div>
                </div>

                <div class="o-grid o-grid--no-gutter center-grid row">
                    <div class="col-sm-4"></div>
                    <div class="col-sm-4" align="center">
                        <p>{{ form.submit() }}</p>
                    </div>
                    <div class="col-sm-4"></div>
                </div>

                <div class="row">
                    <div class="col" align="center">
                        <h4>Attacker wins: {{ outcomes[1]}}%</h4>
                        <h4>Tie: {{ outcomes[0] }}%</h4>
                        <h4>Defender wins: {{ outcomes[2] }}%</h4>
                    </div>
                </div>

                <!-- General checkboxes -->
                <div class="o-grid o-grid--no-gutter center-grid row">
                    <div class="col-sm-5" align="right">
                        Risk Direct Hit <input id="att_riskdirecthit" name="att_riskdirecthit" type="checkbox"
                                               {{ checkboxes["att_riskdirecthit"] }}>
                    </div>
                    <div class="col-sm-2" align="center"></div>
                    <div class="col-sm-5">
                        <input id="def_riskdirecthit" name="def_riskdirecthit" type="checkbox"
                               {{ checkboxes["def_riskdirecthit"] }}> Risk Direct Hit
                    </div>
                </div>

                <div class="o-grid o-grid--no-gutter center-grid row">
                    <div class="col-sm-5" align="right"></div>
                    <div class="col-sm-2" align="center"></div>
                    <div class="col-sm-5">
                        <input id="def_nebula" name="def_nebula" type="checkbox"
                        {{ checkboxes["def_nebula"] }}> Defending in Nebula
                    </div>
                </div>

                <!-- Technology checkboxes -->
                <div class="o-grid o-grid--no-gutter center-grid row" align="center">
                    <b>Technologies</b>
                </div>

                <div class="o-grid o-grid--no-gutter center-grid row">
                    <div class="col-sm-5" align="right">
                        Antimass Deflectors <input id="att_antimass" name="att_antimass" type="checkbox"
                        {{ checkboxes["att_antimass"] }}>
                    </div>
                    <div class="col-sm-2" align="center"></div>
                    <div class="col-sm-5">
                        <input id="def_antimass" name="def_antimass" type="checkbox"
                        {{ checkboxes["def_antimass"] }}> Antimass Deflectors
                    </div>
                </div>

                <div class="o-grid o-grid--no-gutter center-grid row">
                    <div class="col-sm-5" align="right">
                        Graviton Laser System <input id="att_graviton" name="att_graviton" type="checkbox"
                        {{ checkboxes["att_graviton"] }}>
                    </div>
                    <div class="col-sm-2" align="center"></div>
                    <div class="col-sm-5">
                        <input id="def_graviton" name="def_graviton" type="checkbox"
                        {{ checkboxes["def_graviton"] }}> Graviton Laser System
                    </div>
                </div>

                <div class="o-grid o-grid--no-gutter center-grid row">
                    <div class="col-sm-5" align="right">
                        Plasma Scoring <input id="att_plasma" name="att_plasma" type="checkbox"
                        {{ checkboxes["att_plasma"] }}>
                    </div>
                    <div class="col-sm-2" align="center"></div>
                    <div class="col-sm-5">
                        <input id="def_plasma" name="def_plasma" type="checkbox"
                        {{ checkboxes["def_plasma"] }}> Plasma Scoring
                    </div>
                </div>

                <div class="o-grid o-grid--no-gutter center-grid row">
                    <div class="col-sm-5" align="right">

                    </div>
                    <div class="col-sm-2" align="center"></div>
                    <div class="col-sm-5">
                        <input id="def_magen" name="def_magen" type="checkbox"
                        {{ checkboxes["def_magen"] }}> Magen Defense Grid
                    </div>
                </div>

                <div class="o-grid o-grid--no-gutter center-grid row">
                    <div class="col-sm-5" align="right">
                        X-89 Bacterial Weapon Ω <input id="att_x89" name="att_x89" type="checkbox"
                        {{ checkboxes["att_x89"] }}>
                    </div>
                    <div class="col-sm-2" align="center"></div>
                    <div class="col-sm-5">
                        <input id="def_magen_o" name="def_magen_o" type="checkbox"
                        {{ checkboxes["def_magen_o"] }}> Magen Defense Grid Ω
                    </div>
                </div>

                <div class="o-grid o-grid--no-gutter center-grid row">
                    <div class="col-sm-5" align="right">
                        Duranium Armor <input id="att_duranium" name="att_duranium" type="checkbox"
                        {{ checkboxes["att_duranium"] }}>
                    </div>
                    <div class="col-sm-2" align="center"></div>
                    <div class="col-sm-5">
                        <input id="def_duranium" name="def_duranium" type="checkbox"
                        {{ checkboxes["def_duranium"] }}> Duranium Armor
                    </div>
                </div>

                <div class="o-grid o-grid--no-gutter center-grid row">
                    <div class="col-sm-5" align="right">
                        Assault Cannon <input id="att_assault" name="att_assault" type="checkbox"
                        {{ checkboxes["att_assault"] }}>
                    </div>
                    <div class="col-sm-2" align="center"></div>
                    <div class="col-sm-5">
                        <input id="def_assault" name="def_assault" type="checkbox"
                        {{ checkboxes["def_assault"] }}> Assault Cannon
                    </div>
                </div>

                <!-- Action Card checkboxes -->
                <div class="o-grid o-grid--no-gutter center-grid row" align="center">
                    <b>Action Cards</b>
                </div>

                <div class="o-grid o-grid--no-gutter center-grid row">
                    <div class="col-sm-5" align="right">

                    </div>
                    <div class="col-sm-2" align="center"></div>
                    <div class="col-sm-5">
                        <input id="def_bunker" name="def_bunker" type="checkbox"
                        {{ checkboxes["def_bunker"] }}> Bunker
                    </div>
                </div>

                <div class="o-grid o-grid--no-gutter center-grid row">
                    <div class="col-sm-5" align="right">

                    </div>
                    <div class="col-sm-2" align="center"></div>
                    <div class="col-sm-5">
                        <input id="def_experimental" name="def_experimental" type="checkbox"
                        {{ checkboxes["def_experimental"] }}> Experimental Battlestation
                    </div>
                </div>

                <div class="o-grid o-grid--no-gutter center-grid row">
                    <div class="col-sm-5" align="right">
                        Fighter Prototype <input id="att_prototype" name="att_prototype" type="checkbox"
                        {{ checkboxes["att_prototype"] }}>
                    </div>
                    <div class="col-sm-2" align="center"></div>
                    <div class="col-sm-5">
                        <input id="def_prototype" name="def_prototype" type="checkbox"
                        {{ checkboxes["def_prototype"] }}> Fighter Prototype
                    </div>
                </div>

                <div class="o-grid o-grid--no-gutter center-grid row">
                    <div class="col-sm-5" align="right">
                        Fire Team <input id="att_fireteam" name="att_fireteam" type="checkbox"
                        {{ checkboxes["att_fireteam"] }}>
                    </div>
                    <div class="col-sm-2" align="center"></div>
                    <div class="col-sm-5">
                        <input id="def_fireteam" name="def_fireteam" type="checkbox"
                        {{ checkboxes["def_fireteam"] }}> Fire Team
                    </div>
                </div>

                <div class="o-grid o-grid--no-gutter center-grid row">
                    <div class="col-sm-5" align="right">
                        Maneuvering Jets <input id="att_maneuvering" name="att_maneuvering" type="checkbox"
                        {{ checkboxes["att_maneuvering"] }}>
                    </div>
                    <div class="col-sm-2" align="center"></div>
                    <div class="col-sm-5">
                        <input id="def_maneuvering" name="def_maneuvering" type="checkbox"
                        {{ checkboxes["def_maneuvering"] }}> Maneuvering Jets
                    </div>
                </div>

                <div class="o-grid o-grid--no-gutter center-grid row">
                    <div class="col-sm-5" align="right">
                        Morale Boost 1st round <input id="att_morale" name="att_morale" type="checkbox"
                        {{ checkboxes["att_morale"] }}>
                    </div>
                    <div class="col-sm-2" align="center"></div>
                    <div class="col-sm-5">
                        <input id="def_morale" name="def_morale" type="checkbox"
                        {{ checkboxes["def_morale"] }}> Morale Boost 1st round
                    </div>
                </div>

                <div class="o-grid o-grid--no-gutter center-grid row">
                    <div class="col-sm-5" align="right">
                        Waylay <input id="att_waylay" name="att_waylay" type="checkbox"
                        {{ checkboxes["att_waylay"] }}>
                    </div>
                    <div class="col-sm-2" align="center"></div>
                    <div class="col-sm-5">
                        <input id="def_waylay" name="def_waylay" type="checkbox"
                        {{ checkboxes["def_waylay"] }}> Waylay
                    </div>
                </div>

                <!-- Agenda checkboxes -->
                <div class="o-grid o-grid--no-gutter center-grid row" align="center">
                    <b>Agendas</b>
                </div>

                <div class="o-grid o-grid--no-gutter center-grid row">
                    <div class="col-sm-12" align="center">
                        <input id="conventions" name="conventions" type="checkbox"
                        {{ checkboxes["conventions"] }}> Conventions of War
                    </div>
                </div>

                <div class="o-grid o-grid--no-gutter center-grid row">
                    <div class="col-sm-12" align="center">
                        <input id="publicize" name="publicize" type="checkbox"
                        {{ checkboxes["publicize"] }}> Publicize Weapon Schematics
                    </div>
                </div>

                <!-- Promissory checkboxes -->
                <div class="o-grid o-grid--no-gutter center-grid row" align="center">
                    <b>Promissory notes</b>
                </div>

                <div class="o-grid o-grid--no-gutter center-grid row">
                    <div class="col-sm-5" align="right">
                        Strike Wing Ambuscade <input id="att_argent_prom" name="att_argent_prom" type="checkbox"
                        {{ checkboxes["att_argent_prom"] }}>
                    </div>
                    <div class="col-sm-2" align="center"></div>
                    <div class="col-sm-5">
                        <input id="def_argent_prom" name="def_argent_prom" type="checkbox"
                        {{ checkboxes["def_argent_prom"] }}> Strike Wing Ambuscade
                    </div>
                </div>


                <br>
            </form>
        </div>
    </div>

<!--    plus/minus button stuff -->
<!--    <div class="col-sm-4 col-sm-offset-4">-->
<!--        <div class="input-group">-->
<!--            <span class="input-group-btn">-->
<!--                <button type="button" class="btn btn-default btn-number" disabled="disabled" data-type="minus" data-field="quant[1]">-->
<!--                    <span class="glyphicon glyphicon-minus"></span>-->
<!--                </button>-->
<!--            </span>-->
<!--            <input type="text" name="quant[1]" class="form-control input-number" value="0" min="0" max="99">-->
<!--            <span class="input-group-btn">-->
<!--                <button type="button" class="btn btn-default btn-number" data-type="plus" data-field="quant[1]">-->
<!--                    <span class="glyphicon glyphicon-plus"></span>-->
<!--                </button>-->
<!--            </span>-->
<!--        </div>-->
<!--    </div>-->

</div>
{% endblock %}