{% extends 'base.html' %}

{% block app_content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4 col-sm-offset-4">
            {% for message in get_flashed_messages() %}
            <span style="color:#ff0000;"><h3><center>{{ message }}</center></h3></span>
            {% endfor %}
            <form action="" method="post" novalidate>
                {{ form.hidden_tag() }}
                <div class="o-grid o-grid--no-gutter center-grid row">
                    <div class="col-sm-4" align="center">
                        <b>Attacker</b>
                    </div>
                    <div class="col-sm-4" align="center">
                    </div>
                    <div class="col-sm-4" align="center">
                        <b>Defender</b>
                    </div>
                </div>

                <div class="o-grid o-grid--no-gutter center-grid row">
                    <div class="col-sm-4" align="center">
                        {{ form.att_faction()}}
                    </div>
                    <div class="col-sm-4" align="center">
                    </div>
                    <div class="col-sm-4" align="center">
                        {{ form.def_faction()}}
                    </div>
                </div>

                <br>

                <div class="o-grid o-grid--no-gutter center-grid row">
                    <div class="col-sm-4" align="right">
                        <input id="att_flagship2" name="att_flagship2" type="checkbox">
                        <input id="att_flagship" name="att_flagship" type="text"
                               value="{{ defaults['att_flagship'].data }}" size="1">
                    </div>
                    <div class="col-sm-4" align="center">
                        Flagship
                    </div>
                    <div class="col-sm-4">
                        <input id="def_flagship" name="def_flagship" type="text"
                               value="{{ defaults['def_flagship'].data }}" size="1">
                        <input id="def_flagship2" name="def_flagship2" type="checkbox">
                    </div>
                </div>

                <div class="o-grid o-grid--no-gutter center-grid row">
                    <div class="col-sm-4" align="right">
                        <input id="att_warsun" name="att_warsun" type="text"
                               value="{{ defaults['att_warsun'].data }}" size="1">
                    </div>
                    <div class="col-sm-4" align="center">
                        War Sun
                    </div>
                    <div class="col-sm-4">
                        <input id="def_warsun" name="def_warsun" type="text"
                               value="{{ defaults['def_warsun'].data }}" size="1">
                    </div>
                </div>

                <div class="o-grid o-grid--no-gutter center-grid row">
                    <div class="col-sm-4" align="right">
                        <input id="att_dread2" name="att_dread2" type="checkbox">
                        <input id="att_dread" name="att_dread" type="text"
                               value="{{ defaults['att_dread'].data }}" size="1">
                    </div>
                    <div class="col-sm-4" align="center">
                        Dreadnought
                    </div>
                    <div class="col-sm-4">
                        <input id="def_dread" name="def_dread" type="text"
                               value="{{ defaults['def_dread'].data }}" size="1">
                        <input id="def_dread2" name="def_dread2" type="checkbox">
                    </div>
                </div>

                <div class="o-grid o-grid--no-gutter center-grid row">
                    <div class="col-sm-4" align="right">
                        <input id="att_cruiser2" name="att_cruiser2" type="checkbox">
                        <input id="att_cruiser" name="att_cruiser" type="text"
                               value="{{ defaults['att_cruiser'].data }}" size="1">
                    </div>
                    <div class="col-sm-4" align="center">
                        Cruiser
                    </div>
                    <div class="col-sm-4">
                        <input id="def_cruiser" name="def_cruiser" type="text"
                               value="{{ defaults['def_cruiser'].data }}" size="1">
                        <input id="def_cruiser2" name="def_cruiser2" type="checkbox">
                    </div>
                </div>

                <div class="o-grid o-grid--no-gutter center-grid row">
                    <div class="col-sm-4" align="right">
                        <input id="att_carrier2" name="att_carrier2" type="checkbox">
                        <input id="att_carrier" name="att_carrier" type="text"
                               value="{{ defaults['att_carrier'].data }}" size="1">
                    </div>
                    <div class="col-sm-4" align="center">
                        Carrier
                    </div>
                    <div class="col-sm-4">
                        <input id="def_carrier" name="def_carrier" type="text"
                               value="{{ defaults['def_carrier'].data }}" size="1">
                        <input id="def_carrier2" name="def_carrier2" type="checkbox">
                    </div>
                </div>

                <div class="o-grid o-grid--no-gutter center-grid row">
                    <div class="col-sm-4" align="right">
                        <input id="att_destroyer2" name="att_destroyer2" type="checkbox">
                        <input id="att_destroyer" name="att_destroyer" type="text"
                               value="{{ defaults['att_destroyer'].data }}" size="1">
                    </div>
                    <div class="col-sm-4" align="center">
                        Destroyer
                    </div>
                    <div class="col-sm-4">
                        <input id="def_destroyer" name="def_destroyer" type="text"
                               value="{{ defaults['def_destroyer'].data }}" size="1">
                        <input id="def_destroyer2" name="def_destroyer2" type="checkbox">
                    </div>
                </div>

                <div class="o-grid o-grid--no-gutter center-grid row">
                    <div class="col-sm-4" align="right">
                        <input id="att_fighter2" name="att_fighter2" type="checkbox">
                        <input id="att_fighter" name="att_fighter" type="text"
                               value="{{ defaults['att_fighter'].data }}" size="1">
                    </div>
                    <div class="col-sm-4" align="center">
                        Fighter
                    </div>
                    <div class="col-sm-4">
                        <input id="def_fighter" name="def_fighter" type="text"
                               value="{{ defaults['def_fighter'].data }}" size="1">
                        <input id="def_fighter2" name="def_fighter2" type="checkbox">
                    </div>
                </div>

                <div class="o-grid o-grid--no-gutter center-grid row">
                    <div class="col-sm-4" align="right">
                        <input id="att_mech" name="att_mech" type="text"
                               value="{{ defaults['att_mech'].data }}" size="1">
                    </div>
                    <div class="col-sm-4" align="center">
                        Mech
                    </div>
                    <div class="col-sm-4">
                        <input id="def_mech" name="def_mech" type="text"
                               value="{{ defaults['def_mech'].data }}" size="1">
                    </div>
                </div>

                <div class="o-grid o-grid--no-gutter center-grid row">
                    <div class="col-sm-4" align="right">
                        <input id="att_infantry2" name="att_infantry2" type="checkbox">
                        <input id="att_infantry" name="att_infantry" type="text"
                               value="{{ defaults['att_infantry'].data }}" size="1">
                    </div>
                    <div class="col-sm-4" align="center">
                        Infantry
                    </div>
                    <div class="col-sm-4">
                        <input id="def_infantry" name="def_infantry" type="text"
                               value="{{ defaults['def_infantry'].data }}" size="1">
                        <input id="def_infantry2" name="def_infantry2" type="checkbox">
                    </div>
                </div>

                <div class="o-grid o-grid--no-gutter center-grid row">
                    <div class="col-sm-4" align="right">
                        <input id="att_pds2" name="att_pds2" type="checkbox">
                        <input id="att_pds" name="att_pds" type="text"
                               value="{{ defaults['att_pds'].data }}" size="1">
                    </div>
                    <div class="col-sm-4" align="center">
                        PDS
                    </div>
                    <div class="col-sm-4">
                        <input id="def_pds" name="def_pds" type="text"
                               value="{{ defaults['def_pds'].data }}" size="1">
                        <input id="def_pds2" name="def_pds2" type="checkbox">
                    </div>
                </div>

                <div class="o-grid o-grid--no-gutter center-grid row">
                    <div class="col-sm-4"></div>
                    <div class="col-sm-4" align="center">
                        <input id="ground_combat" name="ground_combat" type="checkbox"
                               {{ checkboxes["ground_combat"] }}>
                        Ground combat
                    </div>
                    <div class="col-sm-4"></div>
                </div>

                <div class="o-grid o-grid--no-gutter center-grid row">
                    <div class="col-sm-4"></div>
                    <div class="col-sm-4" align="center">
                        <p><input id="submit" name="submit" type="submit" value="Calculate" onclick="loading();"></p>
                    </div>
                    <div class="col-sm-4"></div>
                </div>

                <!-- Loading animation -->
                <div class="row" id="loading" style="display: none;">
                    <div class="col" align="center">
                        <img src="/static/ajax-loader.gif" alt="loading..."  width=97/>
                    </div>
                </div>

                <div class="row" id="outcomes">
                    <div class="col" align="center">
                        <h4>Attacker wins: {{ outcomes[1]}}%</h4>
                        <h4>Tie: {{ outcomes[0] }}%</h4>
                        <h4>Defender wins: {{ outcomes[2] }}%</h4>
                    </div>
                </div>

                <!-- General checkboxes -->
                {% for block in boxes["general"] %}
                {{ block|safe }}
                {% endfor %}

                {% for block in boxes["hidden"] %}
                {{ block|safe }}
                {% endfor %}

                <!-- Technology checkboxes -->
                <div class="o-grid o-grid--no-gutter center-grid row" align="center">
                    <b>Technologies</b>
                </div>
                {% for block in boxes["tech"] %}
                {{ block|safe }}
                {% endfor %}

                <!-- Action Card checkboxes -->
                <div class="o-grid o-grid--no-gutter center-grid row" align="center">
                    <b>Action Cards</b>
                </div>
                {% for block in boxes["cards"] %}
                {{ block|safe }}
                {% endfor %}

                <!-- Agenda checkboxes -->
                <div class="o-grid o-grid--no-gutter center-grid row" align="center">
                    <b>Agendas</b>
                </div>
                {% for block in boxes["agendas"] %}
                {{ block|safe }}
                {% endfor %}

                <br>
                <!-- Promissory checkboxes -->
                <div class="o-grid o-grid--no-gutter center-grid row" align="center">
                    <b>Promissory notes</b>
                </div>
                {% for block in boxes["notes"] %}
                {{ block|safe }}
                {% endfor %}

                <!-- Agent checkboxes -->
                <div class="o-grid o-grid--no-gutter center-grid row" align="center">
                    <b>Agents</b>
                </div>
                {% for block in boxes["agents"] %}
                {{ block|safe }}
                {% endfor %}

                <!-- Commander checkboxes -->
                <div class="o-grid o-grid--no-gutter center-grid row" align="center">
                    <b>Commanders</b>
                </div>
                {% for block in boxes["commanders"] %}
                {{ block|safe }}
                {% endfor %}

                <br>
            </form>
        </div>
    </div>

    <!--    plus/minus button stuff -->
    <!--    <div class="col-sm-4 col-sm-offset-4">-->
    <!--        <div class="input-group">-->
    <!--            <span class="input-group-btn">-->
    <!--                <button type="button" class="btn btn-default btn-number" disabled="disabled" data-type="minus" data-field="quant[1]">-->
    <!--                    <span class="glyphicon glyphicon-minus"></span>-->
    <!--                </button>-->
    <!--            </span>-->
    <!--            <input type="text" name="quant[1]" class="form-control input-number" value="0" min="0" max="99">-->
    <!--            <span class="input-group-btn">-->
    <!--                <button type="button" class="btn btn-default btn-number" data-type="plus" data-field="quant[1]">-->
    <!--                    <span class="glyphicon glyphicon-plus"></span>-->
    <!--                </button>-->
    <!--            </span>-->
    <!--        </div>-->
    <!--    </div>-->

</div>
{% endblock %}