<div class="o-grid o-grid--no-gutter center-grid row">
    <div class="col-sm-5" align="right">
        <del>test Agent</del>
        <input id="att_test_agent" name="att_test_agent" type="checkbox" disabled="disabled"
        {{ checkboxes["att_test_agent"] }}>
    </div>
    <div class="col-sm-2" align="center"></div>
    <div class="col-sm-5">
        <input id="def_test_agent" name="def_test_agent" type="checkbox" disabled="disabled"
        {{ checkboxes["def_test_agent"] }}>
        <del>test Agent</del>
    </div>
</div>